@import url("https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap");

/* Images */
body {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: white;
    font-size: 80px;
    font-family: Wittgenstein;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 70px;
}
.container {
    height: 50%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20%;
}
.img-ctr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background-color: black;
    transform-origin: center;
    transform: perspective(800px) rotateY(25deg);
    transition: 0.5s;
    border-radius: 15px;
    cursor: pointer;
}
.container h2 {
    position: absolute;
    color: white;
    z-index: 1;
    font-size: 55px;
    font-weight: bold;
    font-family: "Satisfy", cursive;
    rotate: 355deg;
    transform: skew(355deg, 355deg);
    top: 120;
    transition: 0.2s;
    transition-delay: 0.35s;
    opacity: 0;
}
.img-ctr:hover {
    transform: perspective(800px) rotateY(0deg);
}
.img-ctr:hover img {
    filter: grayscale(0%);
    opacity: 0.5;
}
.img-ctr:hover h2 {
    top: 130px;
    opacity: 1;
}
